        <div class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
            <div class="container">
                <a href="/" class="navbar-brand">{{ .Site.Title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link navbar-nav-text" data-toggle="dropdown" href="#" id="blog">
                                Blog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="web-development">
                                <a class="dropdown-item navbar-nav-text" href="/web-development/">
                                    Web Development
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
