    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

        <style>
            .px-6 {
                padding-top: 4.5rem !important;
                padding-bottom: 4.5rem !important;
            }
            a {
                color: #000;
            }
            .navbar-nav-text {
                color: #000 !important;
            }
            h1, h2, h3, h4, h5, h6 {
                font-weight: 400;
            }
        </style>

        <title>{{ .Title }}</title>
    </head>
